.card {
  max-width: 413px;
}

.card__title {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
  list-style: none;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__like-button {
  background-image: url(../images/like\ icon.svg);
  width: 23px;
  height: 20px;
  border: 2px hidden;
  background-color: transparent;
  background-size: cover;
  opacity: 40%;
}

@media screen and (max-width: 627px) {
  .card__title {
    height: 16px;
    line-height: 100%;
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .card__image {
    height: 288px;
  }
  .card__like-button {
    width: 20px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
